body, h1, h2, h3, h4, h5, p {
    margin: 10px;
    padding: 20px;
    text-decoration: double;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
img{
    padding: 20px;
    margin : 10px;
    opacity : 0.5;
}
img:hover {
    opacity: 1.0;
  }
ul{ 
    margin: 10px;
    padding: 20px;
    background-color:#333;
    text-emphasis-color: #333;
}

body,h1, h2, h3, h4, h5 ,p {
    font-style: oblique;
    background-color: #dde4d4;
    color: #333;
    line-height: 1.5;
    padding: 20px;
    border-style: solid;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 10px;
}

header h1 {
    margin: 10px;
}

nav ul {
    list-style-type: georgian;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}